.profilePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.profileImg{
    border-radius: 50%;
    object-fit: cover;
}

.profileName{
    font-size: 36px;
    font-weight: 500;
}

.profileUsername{
    font-weight: 300;
    color: gray;
}

.followCounts{
    font-weight: 500;
}

.profileInteractions{
    display: flex;
    gap: 32px;
    align-items: center;
}

.profileButtons{
    display: flex;
    gap: 16px;
}

.profileButtons button{
    border: none;
    padding: 16px;
    border-radius: 32px;
    font-weight: bold;
    cursor: pointer;
}

.profileButtons button:last-child{
    background-color: red;
    color: white;
}

.profileButtons button:last-child:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}

.profileButtons button:last-child:hover{
    background-color: rgb(175, 0, 0);
}

.profileOptions{
    display: flex;
    gap: 16px;
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: 500;
}

.profileOptions span{
    cursor: pointer;
    padding: 8px 0px;
}

.profileOptions span:hover {
    color: gray
}

.active{
    border-bottom: 3px solid black;
}

.profileView{
    width: 100%;
}