.collections{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}

.collection{
    margin-bottom: 34px;
    cursor: pointer;
}

.collection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.collectionInfo{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.collectionInfo h1{
    font-weight: 500;
    font-size: 16px;
}

.collectionInfo span{
    color: gray;
    font-size: 13px;
}

